{% block footer %}
    <ul class="list-inline hidden-sm-down">
        {% for achievement in achievements %}
            <li class="my-4">
                {% if achievement.done %}
                    <img class="img-thumbnail img-fluid achievement{{ achievement.id }}" src="{{ asset('images/achievements/color/' ~ achievement.image) }}" alt="">
                {% else %}
                    <img class="img-thumbnail img-fluid achievement{{ achievement.id }}" src="{{ asset('images/achievements/bw/' ~ achievement.image) }}" alt="">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <p class="text-center hidden-md-up mx-auto">
        {% for achievement in achievements %}
            {% if achievement.done %}
                <img class="img-thumbnail img-fluid mx-4 achievement{{ achievement.id }}" src="{{ asset('images/achievements/color/' ~ achievement.image) }}" alt="">
            {% else %}
                <img class="img-thumbnail img-fluid mx-4 achievement{{ achievement.id }}" src="{{ asset('images/achievements/bw/' ~ achievement.image) }}" alt="">
            {% endif %}
        {% endfor %}
    </p>
{% endblock %}