{% block footer %}
    <ul class="list-inline hidden-sm-down">
        {% for achievement in achievements %}
            <li class="my-4">
                {% if achievement.done %}
                    <a href="{{ asset('images/achievements/color/' ~ achievement.image) }}"
                         data-lightbox="{{ 'txt.achievement' | trans }}"  data-title="{{ achievement.title }}"
                         class="achievementLink{{ achievement.id }}">
                        <img class="img-thumbnail img-fluid achievementImage{{ achievement.id }}"
                               src="{{ asset('images/achievements/thumbnails/color/' ~ achievement.image) }}" alt="">
                    </a>
                {% else %}
                    <a href="{{ asset('images/achievements/bw/' ~ achievement.image) }}"
                       data-lightbox="{{ 'txt.achievement' | trans }}" data-title="{{ achievement.title }}"
                       class="achievementLink{{ achievement.id }}">
                        <img class="img-thumbnail img-fluid achievementImage{{ achievement.id }}"
                             src="{{ asset('images/achievements/thumbnails/bw/' ~ achievement.image) }}" alt="">
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <p class="text-center hidden-md-up mx-auto">
        {% for achievement in achievements %}
            {% if achievement.done %}
                <a href="{{ asset('images/achievements/color/' ~ achievement.image) }}"
                   data-lightbox="{{ 'txt.achievements' | trans }}"  data-title="{{ achievement.title }}"
                   class="achievementLink{{ achievement.id }}">
                    <img class="img-thumbnail img-fluid mx-4 achievementImage{{ achievement.id }}"
                           src="{{ asset('images/achievements/thumbnails/color/' ~ achievement.image) }}" alt="">
                </a>
            {% else %}
                <a href="{{ asset('images/achievements/bw/' ~ achievement.image) }}"
                   data-lightbox="{{ 'txt.achievements' | trans }}" data-title="{{ achievement.title }}"
                   class="achievementLink{{ achievement.id }}">
                    <img class="img-thumbnail img-fluid mx-4 achievementImage{{ achievement.id }}"
                         src="{{ asset('images/achievements/thumbnails/bw/' ~ achievement.image) }}" alt="">
                </a>
            {% endif %}
        {% endfor %}
    </p>
{% endblock %}
