{% extends 'AppBundle::game.html.twig' %}
{% block title %} {{ 'app.title' |trans }} &bull; {{ 'good_luck.title' |trans }} {% endblock %}
{% block content -%}
    <div id="scene" class="align-middle">
        <div id="dialogue" class="row mt-auto mb-0">
            <div class="col">
                <p class="text-center" id="sceneDialogue">{{ game.currentScene.dialogue }}</p>
            </div>
        </div>
        <div class="row">
            <img width="1920" height="1080" class="img-fluid" src="{{ asset('images/scenes/' ~ game.currentScene.image) }}" alt="" usemap="#map" id="sceneImage">
            <map name="map">
                {% for action in game.currentScene.actions %}
                    <area class="action answer" coords="{{ action.coords }}" shape="{{ action.shape }}" alt="{{ action.tooltip }}" href="#" data-answer="{{ action.id }}">
                {% endfor %}
            </map>
        </div>
        <div id="game_over" class="row" {% if not game.currentScene.gameOver %}style="display: none"{% endif %}>
            <div class="col">
                <p class="game-over">
                    <a href="#" data-toggle="modal" data-target="#gameOverModal" title="{{ 'txt.game-over' | trans }}">
                        {{ 'txt.game-over' | trans }}
                    </a>
                </p>
            </div>
        </div>
        <div id="answers" class="row">
            {% for sentence in game.currentScene.sentences %}
                <div class="col-sm-12 col-md-6">
                    <p class="text-center">
                        <a href="#" title="" class="sentence answer" data-answer="{{ sentence.id }}">
                            {{ sentence.sentence }}
                        </a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
